*/node_modules
*node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
*.lock
#Foundry files
out

*.DS_Store

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/broadcast/*/31337/
lib/forge-std/
lib/v2-core/
lib/v2-periphery/
